#!/bin/sh

set -e

# Set these with your account name
USER=<user to run as>
BOT=<twitter account used for the bot>

# Set this to the path for virtual environment.
ENV_PATH=</path/to/virtual/env>

# Set these if different (if ENV_PATH is not set, these must be hard coded)
AGENT=$ENV_PATH/botwit/home_agent.py
DAEMON=$ENV_PATH/bin/python

DAEMON_OPTS="$AGENT $BOT"
NAME=botwit
PIDFILE=/var/run/$NAME.pid

case "$1" in
  start)
        echo -n "Starting "$NAME
        start-stop-daemon --start --quiet --pidfile $PIDFILE -b -m -u $USER -g $USER --exec $DAEMON -- $DAEMON_OPTS
        echo "."
    ;;
  stop)
        echo -n "Stopping "$NAME
        start-stop-daemon --stop --quiet --oknodo --pidfile $PIDFILE
        echo "."
    ;;
  restart)
        echo -n "Restarting "$NAME
        start-stop-daemon --stop --quiet --oknodo --retry 30 --pidfile $PIDFILE
        start-stop-daemon --start --quiet --pidfile $PIDFILE -b -m -u $USER -g $USER --exec $DAEMON -- $DAEMON_OPTS
        echo "."
    ;;

  *)
    echo "Usage: "$1" {start|stop|restart}"
    exit 1
esac

exit 0
